<p FundoAmarelo>Texto com fundo amarelo.</p>
<button FundoAmarelo>Botao com fundo amarelo.</button>

<p HightlightMouse>Texto com highlight quando passo o mouse</p>

<p [Highlight]="'red'" [defaultColor]="'grey'">
  Texto com input property e diretiva highlight com cores customizadas
</p>

<div *ngIf="mostrarCursos">Lista de cursos aqui</div>
<div *ngElse="mostrarCursos">Nao existem cursos para serem listados.</div>
<br />

<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>
