<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="" class="navbar-brand active">Angular Routing</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item active">
        <a [routerLink]="['/cursos']" class="nav-link">Cursos</a>
      </li>
      <li routerLinkActive="active" class="nav-item active">
        <a [routerLink]="['/alunos']" class="nav-link">Alunos</a>
      </li>
    </ul>
  </div>
</nav>
